<%- include('partials/_header') %>

    
    </head>

    <body>

        <!-- Navigation Bar-->
        <%- include('partials/_navigation')%>


        <div class="wrapper">
            <div class="container-fluid">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="btn-group pull-right">
                                <ol class="breadcrumb hide-phone p-0 m-0">
                                    <li class="breadcrumb-item"><a href="#">Panel</a></li>
                                    <li class="breadcrumb-item"><a href="#">Sayfalar</a></li>
                                    <li class="breadcrumb-item active">Borç Ekle</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Borç Ekle </h4>
                        </div>
                    </div>
                </div>
                <!-- end page title end breadcrumb -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <h4 class="mt-0 header-title">Borç Ekle</h4>
                                <form method="post" action="/kisiler/borc-ekle">
                                    <div class="row">
                                        <div class="col-md-4">
                                        
                                            <div class="p-20">
                                                <div class="col-sm-12">
                                                    <div class="col-md-10">
                                                        <h4 class="mt-4 header-title">İLAÇ</h4>
                                                        <p class="text-muted  font-14">İlaç adını aşağıdan seçiniz, aradığınız ilaç sistemde yoksa ilaç ekle butonuna tıklayarak ilacı ekleyiniz.</p>
                                                        
                                                        <select id="selectImage" name="medicine" onchange="selectImage()" class="form-control">
                                                            <option hidden>Select</option>
                                                            <% for(let i = 0; i < medicine.length; i++) { %>    
                                                                <option value="<%= medicine[i]._id %>"><%= medicine[i].name%></option>
                                                            <% } %>
                                                        </select>
                                                        <img src="/images/small/img-2.jpg" width="420" class="img-fluid mt-4" id="medicine_img" alt="Medicine">
                                                        <a class="btn btn-primary waves-effect waves-light mt-4" href="/ilac-ekle" role="button">İlaç Ekle</a>
                                                    </div>
                                                
                                                    
                                                </div>  
                                            </div>
                                        </div> <!-- end col -->

                                        <div class="col-md-8">
                                            <div class="p-20">
                                                <h4 class="mt-0 header-title">Kişi Bilgileri</h4>
                                                <p class="text-muted mb-4 font-14">Lütfen kişi bilgilerini eksiksiz doldurunuz.</p>

                                                <div class="form-group mb-3">
                                                    <label>Borç Durumu</label>
                                                    <select name="status" class="form-control">
                                                            <option hidden>Select</option>
                                                            <option value="Ödendi">Ödendi</option>
                                                            <option value="Ödenmedi">Ödenmedi</option>
                                                    </select>
                                                </div>

                                                    <div class="form-group mb-0">
                                                        <label>T.C Kimlik No</label>
                                                        <input type="text" name="tc" data-mask="99999999999" required class="form-control">
                                                    </div>
                
                                                    <div class="form-group mb-0">
                                                        <label class="my-2 py-1">İsim Soyisim</label>
                                                        <div>
                                                            <input type="text" name="name" class="form-control" required
                                                                placeholder="İsim Soyisim Giriniz"/>
                                                        </div>
                                                    </div>
                
                                                    <div class="form-group mb-0">
                                                        <label class="my-2 py-1">Borç</label>
                                                        <div>
                                                            <input type="number" name="debt" class="form-control" required
                                                                    placeholder="Borç Tutarı Giriniz"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-0">
                                                        <label class="my-2 py-1">Tarih</label>
                                                        <div>
                                                            <input type="date" name="createdAt" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="my-2 py-1">Not</label>
                                                        <div>
                                                            <textarea id="textarea" name="note" class="form-control" maxlength="225" rows="3" placeholder="Lütfen kişi hakkındaki notu giriniz"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-0">
                                                        <div>
                                                            <button type="submit" class="btn btn-primary waves-effect waves-light">
                                                                Gönder
                                                            </button>
                                                            <button type="reset" class="btn btn-secondary waves-effect m-l-5">
                                                                İptal
                                                            </button>
                                                        </div>
                                                    </div>
                                            
                                            </div>
                                        </div> <!-- end col -->
                                        
                                    </div> <!-- end row -->
                                 </form>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->                            
            </div> <!-- end container -->
        </div>
        <!-- end wrapper -->

   <!-- Footer -->
   <%- include('partials/_footer')%>
   <!-- End Footer -->

    <script src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>


    <!-- Plugins Init js -->
    <script src="/pages/form-advanced.js"></script> 

    <!-- Parsley js -->
    <script type="text/javascript" src="/plugins/parsleyjs/parsley.min.js"></script>
    <!-- Bootstrap inputmask js -->
    <script src="/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('form').parsley();
        });

        function selectImage(){
            const selectImage = document.getElementById('selectImage');
            console.log(selectImage);
            const imgUrl ="";
            for (let i = 0; i< medicine.length; i++) {
                
                if(selectImage[i].value == medicine[i]._id){
                    imgUrl = medicine[i].image;
                    
                }
            }
            document.getElementById('medicine_img').src = imgUrl;
        }
    </script>
       
    </body>
</html>







