<%- include('partials/_header') %>

        <!-- DataTables -->
        <link href="/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" /> 

        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/icons.css" rel="stylesheet" type="text/css">
        <link href="/css/style.css" rel="stylesheet" type="text/css">

    </head>

    <body>

        <!-- Navigation Bar-->
        <%- include('partials/_navigation')%>


        <div class="wrapper">
            <div class="container-fluid">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="btn-group pull-right">
                                <ol class="breadcrumb hide-phone p-0 m-0">
                                    <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                                    <li class="breadcrumb-item"><a href="#">İlaçlar</a></li>
                                </ol>
                            </div>
                            <h4 class="page-title">İlaçlar</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title end breadcrumb -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">     

                                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>İlaç Adı</th>
                                        <th>İlaç Adı</th>
                                        <th>İlaç Özellikleri</th>
                                        <th>İşlem</th>
                                    </tr>
                                    </thead>
                
                
                                    <tbody>

                                    <% for(let i=0; i< medicine.length; i++) {%>
                                        <tr>
                                            <td align="center">
                                                <img  src="<%= medicine[i].image %>" alt="user" width="75">
                                            </td>
                                            <td><%= medicine[i].name %></td>
                                            <td><%= medicine[i].medicineType %></td>
                                            <td>
                                                <a href="/ilaclar/edit/<%= medicine[i]._id%>"><button type="button" class="btn btn-lg btn-warning  btn-sm "><i class="fas fa-edit"></i></button></a>
                                                <a href="/ilaclar/edit/<%= medicine[i]._id %>?_method=DELETE"><button type="button" class="btn btn-lg btn-danger   btn-sm "><i class="mdi mdi-delete-forever"></i></button></a>
                                            </td>
                                        </tr>

                                    <% } %>
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>
        <!-- end wrapper -->

   <!-- Footer -->
   <%- include('partials/_footer')%>
   <!-- End Footer -->

        <!-- Required datatable js -->
        <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="/plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="/plugins/datatables/jszip.min.js"></script>
        <script src="/plugins/datatables/pdfmake.min.js"></script>
        <script src="/plugins/datatables/vfs_fonts.js"></script>
        <script src="/plugins/datatables/buttons.html5.min.js"></script>
        <script src="/plugins/datatables/buttons.print.min.js"></script>
        <script src="/plugins/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="/plugins/datatables/responsive.bootstrap4.min.js"></script>
 
        <!-- Datatable init js -->
        <script src="/pages/datatables.init.js"></script> 

        <script>
            $(document).ready(function() {
                $('#datatable2').DataTable();  
            } );
        </script>

    </body>
</html>







