<%- include('partials/_header') %>

        <!-- DataTables -->
        <link href="/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" /> 

        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/icons.css" rel="stylesheet" type="text/css">
        <link href="/css/style.css" rel="stylesheet" type="text/css">

    </head>

    <body>

        <!-- Navigation Bar-->
        <%- include('partials/_navigation')%>

        <% if(admin && ('role' in admin)){ %>

            <%if(admin.role=='super'){%>

                <div class="wrapper">
                    <div class="container-fluid">
        
                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title-box">
                                    <div class="btn-group pull-right">
                                        <ol class="breadcrumb hide-phone p-0 m-0">
                                            <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                                            <li class="breadcrumb-item"><a href="#">Sayfalar</a></li>
                                            <% if(status == 'Ödendi'){%>
                                                <li class="breadcrumb-item active">Ödenmiş Borçlar</li>
                                            <% }else{ %>
                                                <li class="breadcrumb-item active">Ödenmemiş Borçlar</li>
                                            
                                            <% } %>
                                        </ol>
                                    </div>
                                    <% if(status == 'Ödendi'){%>
                                        <h4 class="page-title">Borcu Kapatanlar</h4>
                                    <% }else{ %>
                                        <h4 class="page-title">Borçlular</h4>
                                    
                                    <% } %>
                                    
        
                                </div>
                            </div>
                        </div>
                        <!-- end page title end breadcrumb -->
        
        
                        <%if(status == 'Ödendi') {%>  <!-- borcu ödeyenler için ayrı görünüm -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
        
                                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                            <tr>
                                                <th>Tarih</th>
                                                <th>TC</th>
                                                <th>İsim</th>
                                                <th>İşlem</th>
                                            </tr>
                                            </thead>
        
                                            <tbody>
                                            <% for(let i=0; i< debtAdmin.length; i++) {%>
                                                <tr>
                                                    
                                                    <td><%= debtAdmin[i].createdAt.toISOString().slice(0,10)  %></td>
                                                    <td><%= debtAdmin[i].tc %></td>
                                                    <td><%= debtAdmin[i].name %></td>
                                                    <td>
                                                        <a href="/kisiler/edit/<%= debtAdmin[i]._id%>">
                                                            <button type="button" class="btn btn-lg btn-warning btn-sm "><i class="fas fa-user-edit"></i></button>
                                                        </a>
                                                        <a href="/kisiler/<%= debtAdmin[i]._id%>?_method=DELETE">
                                                            <button type="button" class="btn btn-lg btn-danger btn-sm "><i class="fas fa-user-times"></i></button>
                                                        </a>
                                                        <a target="_blank" href="/yazdir/<%= debtAdmin[i]._id%>">
                                                            <button type="button" class="btn btn-secondary btn-sm"><i class="mdi mdi-printer"></i></button>
                                                        </a>
                                                    </td>
                                                </tr>                                 
                                            <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                        <% } %>
        
                        <%if(status == 'Ödenmedi') {%> <!-- borcu ödemeyenler için ayrı görünüm -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
            
                                            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                <thead>
                                                <tr>
                                                    <th>Tarih</th>
                                                    <th>TC</th>
                                                    <th>İsim</th>
                                                    <th>Borç Miktarı</th>
                                                    <th>İşlem</th>
                                                </tr>
                                                </thead>
            
                                                <tbody>
                                                <% for(let i=0; i< debtAdmin.length; i++) {%>
                                                    <tr>
                                                        <td><%= debtAdmin[i].createdAt.toISOString().slice(0,10)  %></td>
                                                        <td><%= debtAdmin[i].tc %></td>
                                                        <td><%= debtAdmin[i].name %></td>
                                                        <td><%= debtAdmin[i].total %>₺</td>
                                                        <td>
                                                            <a href="/kisiler/edit/<%= debtAdmin[i]._id%>">
                                                                <button type="button" class="btn btn-lg btn-warning btn-sm "><i class="fas fa-user-edit"></i></button>
                                                            </a>
                                                            <a href="/kisiler/<%= debtAdmin[i]._id%>?_method=DELETE">
                                                                <button type="button" class="btn btn-lg btn-danger btn-sm "><i class="fas fa-user-times"></i></button>
                                                            </a>
                                                            <form style="display: inline" method="post" action="/kisiler/debt-ok/<%= debtAdmin[i]._id %>?_method=PUT">                                                  
                                                                <input type="hidden" name="status" value="Ödendi">
                                                                <button class="btn btn-lg btn-success btn-sm "><i class="fas fa-user-check"></i></button>
                                                            </form>  
                                                            <a target="_blank" href="/yazdir/<%= debtAdmin[i]._id%>">
                                                                <button type="button" class="btn btn-secondary btn-sm"><i class="mdi mdi-printer"></i></button>
                                                            </a>
                                                        </td>
                                                    </tr>                                 
                                                <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                            <% } %>
                    </div> <!-- end container -->
                </div>

            <%}else if(admin.role=='editor'){%>

                <div class="wrapper">
                    <div class="container-fluid">
        
                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title-box">
                                    <div class="btn-group pull-right">
                                        <ol class="breadcrumb hide-phone p-0 m-0">
                                            <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                                            <li class="breadcrumb-item"><a href="#">Sayfalar</a></li>
                                            <% if(status == 'Ödendi'){%>
                                                <li class="breadcrumb-item active">Ödenmiş Borçlar</li>
                                            <% }else{ %>
                                                <li class="breadcrumb-item active">Ödenmemiş Borçlar</li>
                                            
                                            <% } %>
                                        </ol>
                                    </div>
                                    <% if(status == 'Ödendi'){%>
                                        <h4 class="page-title">Borcu Kapatanlar</h4>
                                    <% }else{ %>
                                        <h4 class="page-title">Borçlular</h4>
                                    
                                    <% } %>
                                    
        
                                </div>
                            </div>
                        </div>
                        <!-- end page title end breadcrumb -->
        
        
                        <%if(status == 'Ödendi') {%>  <!-- borcu ödeyenler için ayrı görünüm -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
        
                                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                            <tr>
                                                <th>Tarih</th>
                                                <th>TC</th>
                                                <th>İsim</th>
                                                <th>İşlem</th>
                                            </tr>
                                            </thead>
        
                                            <tbody>
                                            <% for(let i=0; i< debt.length; i++) {%>
                                                <tr>
                                                    
                                                    <td><%= debt[i].createdAt.toISOString().slice(0,10)  %></td>
                                                    <td><%= debt[i].tc %></td>
                                                    <td><%= debt[i].name %></td>
                                                    <td>
                                                        <a href="/kisiler/edit/<%= debt[i]._id%>">
                                                            <button type="button" class="btn btn-lg btn-warning btn-sm "><i class="fas fa-user-edit"></i></button>
                                                        </a>
                                                        <a target="_blank" href="/yazdir/<%= debt[i]._id%>">
                                                            <button type="button" class="btn btn-secondary btn-sm"><i class="mdi mdi-printer"></i></button>
                                                        </a>
                                                    </td>
                                                </tr>                                 
                                            <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                        <% } %>
        
                        <%if(status == 'Ödenmedi') {%> <!-- borcu ödemeyenler için ayrı görünüm -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
            
                                            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                <thead>
                                                <tr>
                                                    <th>Tarih</th>
                                                    <th>TC</th>
                                                    <th>İsim</th>
                                                    <th>Borç Miktarı</th>
                                                    <th>İşlem</th>
                                                </tr>
                                                </thead>
            
                                                <tbody>
                                                <% for(let i=0; i< debt.length; i++) {%>
                                                    <tr>
                                                        <td><%= debt[i].createdAt.toISOString().slice(0,10)  %></td>
                                                        <td><%= debt[i].tc %></td>
                                                        <td><%= debt[i].name %></td>
                                                        <td><%= debt[i].total %>₺</td>
                                                        <td>
                                                            <a href="/kisiler/edit/<%= debt[i]._id%>">
                                                                <button type="button" class="btn btn-lg btn-warning btn-sm "><i class="fas fa-user-edit"></i></button>
                                                            </a>
                                                            <form style="display: inline" method="post" action="/kisiler/debt-ok/<%= debt[i]._id %>?_method=PUT">                                                  
                                                                <input type="hidden" name="status" value="Ödendi">
                                                                <button class="btn btn-lg btn-success btn-sm "><i class="fas fa-user-check"></i></button>
                                                            </form>  
                                                            <a target="_blank" href="/yazdir/<%= debt[i]._id%>">
                                                                <button type="button" class="btn btn-secondary btn-sm"><i class="mdi mdi-printer"></i></button>
                                                            </a>
                                                        </td>
                                                    </tr>                                 
                                                <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                            <% } %>
                    </div> <!-- end container -->
                </div>
            <%}else{%>
                <div class="wrapper">
                    <div class="container-fluid pt-5 pb-5">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="offset-1 col-md-10">
                                                <div class="p-20">
                                                    <div class="ex-page-content text-center">
                                                        <h1 class="">404!</h1>
                                                        <h3 class="">Bu alana erişim yetkiniz yok</h3><br>
                                
                                                        <a class="btn btn-danger mb-5 waves-effect waves-light" href="/">Panele Dönmek için Tıklayın</a>
                                                        
                                                        <div id="uyari"></div>   
                                                    </div>
                                                </div>
                                            </div> <!-- end col -->
                                            
                                        </div> <!-- end row --> 
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->   
                    </div>
                </div>
            <%}%>
        <%}%>

       

   <!-- Footer -->
   <%- include('partials/_footer')%>
   <!-- End Footer -->

    <!-- Required datatable js -->
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="/plugins/datatables/jszip.min.js"></script>
    <script src="/plugins/datatables/pdfmake.min.js"></script>
    <script src="/plugins/datatables/vfs_fonts.js"></script>
    <script src="/plugins/datatables/buttons.html5.min.js"></script>
    <script src="/plugins/datatables/buttons.print.min.js"></script>
    <script src="/plugins/datatables/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables/responsive.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    <script src="/pages/datatables.init.js"></script> 

    <script>
        $(document).ready(function() {
            $('#datatable2').DataTable({
                "order": []
            });  
        } );
    </script>

    <script>
        function Yonlendir(ID, adres, saniye) {
            if (saniye == 0) {
                window.location.href = adres;
            return;
            }
            document.getElementById(ID).innerHTML = saniye + " saniye sonra yönlendiriliyorsunuz.";
            saniye--;
            setTimeout(function() {
                Yonlendir(ID, adres, saniye);
            }, 1000);
        }
    </script>
    <script>
        Yonlendir("uyari", "/", 10);
    </script>

<<<<<<< HEAD
=======
    <script>
        function deleteUser(id,name){
        
            Swal.fire({
            title: `${name} kişisini silmek istediğinize emin misiniz ?`,
            icon: 'warning',
            showCancelButton: true,
            showDenyButton: true,
            confirmButtonColor: '#28A745',
            cancelButtonColor: '#6E7881',
            denyButtonColor: `#DC3545`,
            confirmButtonText: 'Evet',
            denyButtonText: `Hayır`,
            cancelButtonText: 'İptal',
            
            }).then((result) => {

                if (result.isConfirmed) {
                    
                    Swal.fire({
                        title: "Silindi!",
                        text: `${name} kişisi silindi.`,
                        type: "success",
                        timer: 3000
                    }).then(() => {
                        window.location = `/kisiler/${id}?_method=DELETE`;
                    })
                }else if(result.isDenied) {
                    Swal.fire({
                        title: "Silinmedi!",
                        text: `${name} kişisi silinmedi.`,
                        type: "info",
                        timer: 3000
                    });
                }
            });
        };
        function okUser(name){

     Swal.fire(
          "Onaylandı!",
          `${name} kişisinin borcu onaylandı.`,
          "success",

     ).then((result) => {
         window.location = `/kisiler`;

     });

     setTimeout(function() {
         window.location = `/kisiler`;
         }, 3000);
     };
    </script>

>>>>>>> 26932577ab9b68929037ab1a3fc8b5cd04f43e71
    </body>
</html>







