<%- include('partials/_header') %>

    
    </head>

    <body>

        <!-- Navigation Bar-->
        <%- include('partials/_navigation')%>


        <div class="wrapper">
            <div class="container-fluid">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="btn-group pull-right">
                                <ol class="breadcrumb hide-phone p-0 m-0">
                                    <li class="breadcrumb-item"><a href="#">Panel</a></li>
                                    <li class="breadcrumb-item active">Notlar</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Notlar </h4>
                        </div>
                    </div>
                </div>
                <!-- end page title end breadcrumb -->
         
                   
                <div class="row">

                    <% for(let i=0; i< debt.length; i++) {%>
                    <div class="col-lg-4">
                        <div class="card">
                            <h6 class="card-header mt-0">TC: <%= debt[i].tc %></h6>
                            <div class="card-body">
                                <h4 class="card-title font-20 mt-0"><%= debt[i].name %></h4>
                                <p class="card-text"><%= debt[i].note%></p>
                                <a href="/kisiler/edit/<%= debt[i]._id%>" class="btn btn-primary">Kişiye Git</a>
                            </div>
                        </div>
                    </div>
                   <%}%>

                </div>
                    
             

        <!-- end wrapper -->
   <!-- Footer -->
   <%- include('partials/_footer')%>
   <!-- End Footer -->

    </body>
</html>







